
/*Styling thats repeated on all sites

1. body
    1.1 background colour
    1.2 font-size and font
2. header and content
    2.1 logo / .header_logo
3. footer
    3.1 logo / .logo
    3.2 navigation in footer / .footer_nav 
        3.2.1 navigation for desktop
        3.2.2 navigation for mobile
*/



*{
    margin:0;
    box-sizing: border-box;
}



body{
    background-color: $background;
    text-align: left;
}

h1 {
    color:$sunset_red;
    font-size: $header-size;
    font-family: $header-font;
  }
  
h2{
    font-size:$header2-size; /*golden ratio p * 1.618*/
  }
p{
      font-family: $text-font;
      font-size: $text-font;
      text-wrap: break-word;
      margin: 0.5em 0;
      
  }
  
header{
      
      .header_content{
        display: flex;
        justify-content: space-between;
        align-items:start;
      }
  
      .header_logo{
        max-height: 3em;
        padding-top: 0.5em;
        padding-left:1em;
        margin-top:0.5em;  
      }
  
      .nav_bar {
        font-family: $text-font;
        overflow: hidden;
        
        }
        
      .nav_bar a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 1.5em 1em;
        text-decoration: underline;
        font-size: $text-size
        text-underline-offset: 0.5em;
        text-decoration-thickness: 0.25em;
      }
        
      .nav_bar a.active {
        color: $sunset_red;
      }
  
      .nav_bar .right_top{
        margin-left: 4em;
        padding-right:2em;
      }
  
      /*Inspiration for hamburger menu found on: https://codepen.io/ngochuynh/pen/yKrvVZ*/
      .hamburger1 {
        margin-top: -2.5em;
        margin-right:2em;
        margin-bottom:1em;
        display: -ms-grid;
        display: grid;
        justify-items: right;
        z-index: 120;
      }
      
      .hamburger1 div {
        background-color: $hamburger;
        position: relative;
        width: 2.75em;
        height: 0.25em;
        margin-top: 0.5em;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }
      
      #toggle1 {
        display: none;
      }
      
      #toggle1:checked + .hamburger1 .top {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        margin-top: 22.5px;
      }
      
      #toggle1:checked + .hamburger1 .meat {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        margin-top: -5px;
      }
      
      #toggle1:checked + .hamburger1 .bottom {
        -webkit-transform: scale(0);
                transform: scale(0);
      }
      
      #toggle1:checked ~ .menu1 {
        height: 17em;
      }
      
      
      /* drop-down menu */
      .menu1 {
        width: 100%;
        margin: auto 0;
        display: -ms-grid;
        display: grid;
        grid-template-rows: repeat(5, 0.5fr);
        grid-row-gap: 0.25em;
        padding: 0;
        list-style: none;
        clear: both;
        width: auto;
        text-align: center;
        height: 0px;
        overflow: hidden;
        transition: height .4s ease;
        z-index: 120;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      
      .link1 {
        width: 100%;
        margin: 0;
        padding: 0.5em 0;
        font-size: 1.25em;
        font-family: open sans;
        text-decoration: none;
        color: $text-colour1;
        display: flex;
        align-items: center;
        justify-content: center;        
      }
      
      .link1:hover {
        background-color: $link-hover;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  
  
  footer{
      padding-left: $m-padding-sides;
      padding-right: $m-padding-sides;
      padding-bottom: 4em;
  
      .logo{
        margin-top:2em;
        margin-bottom:2em;
        max-width: 7.5em; 
      }
      .footer_nav{
        p{
          font-weight: 600;
        }
         
        li{
          margin-top:0.5em;
         
        }
      }
      
      .footer_info{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }
      .column {
        max-width: 10em;
        margin-bottom: 20px; 
        margin-right: 40px;
      }
      
      
      .column h3 {
        margin-bottom: 10px;
        margin-top: 15px;
        font-family: $text-font;
        font-weight: 600;
        font-size: 16px;
      
      }
      
      ul li {
        list-style: none;
        margin-bottom: 8px;
      }
      ul{
        padding: 0;
      }
      a{
        text-decoration: none;
        }
      a:visited{
        text-decoration: none;
      }
    
      .footer-container-desk {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
  
      .footer_newsletter {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-right:1em;
      }
  
      .newsletter_form {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }
      .footer_newsletter {
        font-family: $text-font;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .newsletter_form button {
        width: 100px;
       background-color:$sunset_red;
       color: $text-colour2; 
        padding: 5px; 
       border: none; 
        border-radius: 3px;
        cursor: pointer; 
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 10px;
      }
      .newsletter_form input[type=email] {
        padding: 8px 0; 
        border-bottom: 1px solid black; 
        border-top: none; 
        border-left: none;
        border-right: none;
        background-color: transparent;}
        
        input[type="email"]:focus {
          outline: 2px solid black;}
      
    }
         
      
  
  
  
  /*Mobile version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
  @media only screen and (max-width:600px){
    
    footer{
      .social_media1{
        display: none;
      }
      .footer_newsletter{
        display: none;
      }
  
      .column{
        display: none;
      }
  
    .contact_info{
      margin-top: 1em;
      margin-bottom:1em;
        p{
          font-weight: 600;
        }
        li{
          margin-top:0.5em;
        }
        .email{
          margin-top: 1.5em;
        }
      }
  
      .grid{
        display:grid;
        grid-template-columns: 5% 5% 5% 5% 80%;
        gap:2em; 
        margin-top: 4em;
        }
         
      .social_media2{
        max-height:2em;
      }
    }
  }
  
  /*adding the dekstop-version and still having the hamburgermenu*/
  @media only screen and (min-width:600px){
  
    .footer_nav{
      display: none;
    }
    .social_media2{
      display: none;
    }
  
    .contact_info{
      display: none;
    }
  
    .address2{
      display: none;
    }
    
    
  
  
    
  }
  /*having the hamburgermenu but  having the layout of desktop version*/
  @media only screen and (max-width: 800px){
  
    header{
      .nav_bar{
        display:none;
    }
  
    }
    .footer_newsletter{
      display: none !important;
    }
  
  }
  
  /*Desktop version with its navigationbar in the top*/
  @media only screen and (min-width: 800px){
      #hamburger_menu{
          display: none;
      }
    
  }
  
