@font-face{
    font-family:nimbus;
    src: url("TAN-NIMBUS.ttf");
}
@font-face{
    font-family:open sans;
    src: url("OpenSans-VariableFont_wdth\,wght.ttf");
}

/*Variables*/
$background: #EDEBE4;

$sunset_red: #FE4D49;

$washed_out: #222121;

$text-colour1: black;

$text-colour2: white;

$link-hover:  rgba(254, 77, 73, 0.75);

$text-size: 1em;

$header-size: 1.875em;

$header2-size: 1.625em;



$text-font: "open sans";

$header-font: "nimbus";

$padding:;

$margin:;




