@font-face{
    font-family:nimbus;
    src: url("TAN-NIMBUS.ttf");
}
@font-face{
    font-family:open sans;
    src: url("OpenSans-VariableFont_wdth\,wght.ttf");
}

/*Variables*/
$background: #EDEBE4;

$contast-colour: #FE4D49;

$washed_out: #222121;

$hamburger: black;

$text-colour1: black;

$text-colour2: white;

$link-hover:  rgba(254, 77, 73, 0.75);

$rectangle:rgba(254, 77, 73, 0.85);


$text-font: "open sans";

$header-font: "nimbus";

$button-size: 0.875rem;

$text-size: 1rem;

$header-size: 1.875rem;

$header2-size: 1.625rem;


$break-line:1.5rem;

/*mobile variables*/
$padding-sides:2rem;
$padding-top-image:2rem; 
$margin-bot-header:1rem;
$margin-header-services: 1rem;
$margin-image-tb: 2rem;
$margin-bot-image:2rem;
$padding-bot-section:6rem; 

/*cases-section extra padding*/
$extra-padding-s:2rem;
$extra-padding-t:4rem;
/*ganni logo is slightly bigger, so the margin will be smaller*/
$ganni-margin:1.5rem;



/*desktop variables*/





