

section{
    padding-left: 2rem;
    padding-right: 2rem;
}
#the_team{
    padding-bottom: 3rem;
    .the_team_image{
        width: 100%;
        margin-bottom: 2rem;
    }

    h1{
        color: #FE4D49;
        font-size: 1.875rem;
        font-family: nimbus;
        text-align: center;
        margin-bottom:1rem;
    }

    .break{
        padding-top: 0.5rem;
    }
}

#the_studio{
    background-color: #222121;
    color:white;
    padding-bottom: 3rem;


    .image{
        margin:2rem 0rem;
        max-width: 100%;
    }

    h2{
        text-align: left;
        font-family: nimbus;
        font-size: 1.875rem;
        color: white;
    }
    
}

#girl_code{
    padding-bottom: 3rem;
    .image{
        margin:2rem 0rem;
        max-width: 100%;
        
    }
    h2{
        text-align: center;
        font-family: nimbus;
        font-size: 1.875rem;
        color:#FE4D49;
        margin-bottom: 1rem;
    }

    p{
        padding-bottom: 3rem;
    }

    
}

#break-line{
    background-color: #222121;
    height: 1.5rem;

}

#our_skills{
padding-bottom:3rem;
    .image{
        margin:2rem 0rem;
        width: 100%;
        
    }
    h2{
        text-align: center;
        font-family: nimbus;
        font-size: 1.875rem;
        color:black;
        padding-bottom: 2rem;
    }

    h3{
        font-family: open sans;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        
        text-align: center;
    }

    .container{
        position:relative;
        text-align: center;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper {
        position: relative;
        height: 75px;
        display: flex;
        align-items: center;

    }

    .rectangle{
        background-color: rgba(254, 77, 73, 0.85);
    
        height:50px;
        width: 48px;
        position:absolute;
        margin:0 auto;
        display: flex;
        align-items: center;
        z-index: -1;
        left: -1rem;
    }

    .text_1{
        
       margin-top: 1rem;
        white-space: nowrap;
        }
    

    p{
        text-align: center;
    }
}


/*washed out black footer*/
footer{
    background-color: #222121;
    color: white;

    a{
        text-decoration: none;
        color: white;
    }
}



    



/*Desktop version*/
@media only screen and (min-width: 650px){
    section p, h2{
        padding: 0 2rem;
    }
    .main_grid{
        display: grid;
        grid-template-columns: 4fr 6fr;
        }
    .text{
        align-items: center;
        justify-content: center;
        margin-top:4rem;    
        }

    #the_studio{
    .image{
        margin: 0 0;
    }
    .main_grid {
        grid-template-columns: 5fr 5fr;}
}

#our_skills{
    .image{
        height:42.5rem;}*

    p{
        text-align: left;
    }
    .container{
        align-items: flex-start;
    }
    .wrapper{
        position:relative;
        height: 75px;
        display: flex; 
        margin-left:2rem;       

    }

    .main_grid {
        grid-template-columns: 5.5fr 4.5fr;
        margin-bottom:1rem;}}

    #the_studio,  #our_skills{
        .image {
            order: 1;
               }
            
        .text {
            order: -1;
               }
            
        }

    
}

