@font-face{
    font-family:nimbus;
    src: url("/TAN_Nimbus/Web/TAN-NIMBUS.ttf");
}
@font-face{
    font-family:open sans;
    src: url("/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

*{
    margin:0;
    box-sizing: border-box;
}

/*standard styling for pages*/
body{
    background-color: #EDEBE4;
    text-align: left;
    
}

p{
    font-family: open sans;
    font-size: 0.875rem;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}

header{
    .header_image{
        display: flex;
        justify-content: center;
    }

    .logo_image{
        max-height: 3.5rem;
        padding-top: 0.5rem;
        padding-left:1rem;

       
    }
    
    
    
}


#the_team{
    padding-left: 2rem;
    padding-right: 2rem;
    .the_team_image{
        max-width: 100%;
        margin-bottom: 2rem;
    }

    h1{
        color: #FE4D49;
        font-size: 1.875rem;
        font-family: nimbus;
        text-align: center;
        margin-bottom:1rem;
    }

    .break{
        padding-top:1rem;
        padding-bottom: 4rem;
       }
}

#the_studio{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #222121;
    color:white;

    .office_image{
        padding-top:3rem;
        max-width: 100%;
        margin-bottom: 2rem;
    }

    h2{
        text-align: left;
        font-family: nimbus;
        font-size: 1.875rem;
        color: white;
    }

    p{
        padding-bottom: 4rem;
    }
    
}

#girl_code{
    padding-left: 2rem;
    padding-right: 2rem;

    .girl_code_image{
        padding-top:3rem;
        max-width: 100%;
        margin-bottom: 2rem;
    }
    h2{
        text-align: center;
        font-family: nimbus;
        font-size: 1.875rem;
        color:#FE4D49;
        margin-bottom: 1rem;
    }

    p{
        padding-bottom: 4rem;
    }
}

#break-line{
    background-color: #222121;
    height: 2rem;

}

#our_skills{
    padding-left: 2rem;
    padding-right: 2rem;

    .our_skills_image{
        padding-top:3rem;
        max-width: 100%;
        margin-bottom: 2rem;
    }
    h2{
        text-align: center;
        font-family: nimbus;
        font-size: 1.875rem;
        color:black;
        padding-bottom: 2rem;
    }

    h3{
        font-family: open sans;
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 2rem;
        text-align: center;
    }

    p{
        margin-bottom: 4rem;
        text-align: center;
    }

}

/*washed out black footer*/
footer{
    padding-left: 2rem;
    padding-right:2rem;
    background-color: #222121;
    color: white;
}

