/*content

1. navigation / #nav_buttons
    1.1 portfolio / #portfolio
2. about a studio / #about
    2.1 quality / #quality
3. footer
4. Mobil styling
5. Dekstop  styling
*/

@import 'scss/variables';
@import 'scss/standard';

section{
    padding: 0 $padding-sides;
    padding-bottom: $padding-bot-section
    ;}

#cases{
    padding:0 0;
    .cases_image{
        width: 100%;  
        margin: $margin-image-tb 0;
      
      }
}

.break-line{
    background-color: $background;
    height: $break-line;
}

/*adding an extra rem padding to the side for this image*/
.image{
    padding: 0 $extra-padding-s;
    width: 100%;
    padding-top:$extra-padding-t;
}

.logo1{
    margin: $margin-image-tb 0;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

.logo2{
    margin-bottom: $ganni-margin;
    margin-left:auto;
    margin-right:auto;
    display: block;
    
}

#mads{
    background-color: $washed_out;
    color:$text-colour2;
    .mads_logo{
        width: 40%;
    }

}

#messy{
    background-color: $washed_out;
    color: $text-colour2;
    .messyw_logo{
        width: 60%;

    }
}

#hay{
    background-color: $washed_out;
    color: $text-colour2;

   
    .hay_logo{
        width: 25%;
      
    }
}

#superdry{
    background-color: $washed_out;
    color: $text-colour2;

   

    .superdry_logo{
        width: 50%;
       
    }
}

#ganni{
    background-color: $washed_out;
    color: $text-colour2;
   
    .ganni_logo{
        width: 30%;
    }

}
  


footer{
    a{
        text-decoration: none;
        color: $text-colour1;
    }

}



    



/*Desktop version*/
@media only screen and (min-width: 600px){
    section{
        padding: 0 0}
    
    .main_grid{
        display: grid;
        grid-template-columns: 5fr 5fr;
        }

    .image{
        padding: 0 0;
        width: 100%;
    }

    .text{
        margin:2rem 2rem;
    }

    #messy, #superdry{
        .image {
            order: 1;
           }
        
           .text {
            order: -1;
            padding: 2rem 0;
           }
    }
}