/*content

1. navigation / #nav_buttons
    1.1 portfolio / #portfolio
2. about a studio / #about
    2.1 quality / #quality
3. footer
4. Mobil styling
5. Dekstop  styling
*/




#nav_buttons{
    .nav_grid{
        display:grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
    }
    

    .grid_image{
        display: flex;
        flex-direction: column;
        justify-content: end;
        height:30vw;
        padding: 1rem;
        background-size: cover;
        background-position: center;
    }
    .grid_button_coffee {
        background-image: url("kaffe.jpg");
        
    }

    .grid_button_water{
        background-image: url("water.jpg");
    }
    .grid_button_pen{
        background-image: url("pen.jpg");
    }
    
    .button{
        background-color: #FE4D49;
        box-shadow: none;
        border:none;
        color: white;
        width:auto;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;

    }


}

#portfolio{
    .container{
        position:relative;
        text-align: center;
    }

    .portfolio_image{
        max-width: 100%;
        min-height: 15rem;
        max-height: 55rem;
        }
    

}

#break-line{
    background-color: #222121;
    height: 2rem;

}

#about{

    h1{
        color: #FE4D49;
        font-size: 1.875rem;
        font-family: nimbus;
        text-align: center;
        margin-bottom:1rem;
    }

    p{
        text-align: center;
    }
   .break{
    padding-top:1rem;
    padding-bottom: 4rem;
   }
}


#quality{
    background-color: #222121;
    color: white;


    h2{
        text-align: right;
        font-family: nimbus;
        font-size: 1.875rem;


    }
    h3{
        text-align: right;
        font-family: nimbus;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
    }

    .break{
        padding-top:1rem;
        padding-bottom: 4rem;
    }
    
}

footer{
    
    a{
        text-decoration: none;
        color: black;
    }
}



/*Mobile version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (max-width: 650px){
#nav_buttons{
    padding:0;
}
#portfolio{
        padding-right:2rem;
    
        .text1{
            padding-left: .25rem;
            position:absolute;
            bottom: 3.5rem;
        }
        
        .text2{
            padding-left: .25rem;
            position: absolute;
            bottom: 2rem;
        }
        .text_1, .text_2{
            display: none;
        }

    }

.main_grid{
    display: grid;
    grid-template-columns: 1fr;
    }
.image{
        width: 100%;
        margin-bottom: 2rem;
    }
    #about{
        padding-top: 3rem; }
    
    #quality{
        padding-top: 3rem;
       

    }
}
 

/*Desktop version*/
@media only screen and (min-width: 650px) {
#portfolio{

    .portfolio_image{
        padding-left: 2rem;
    
    }
    .text_1{
        padding-left: 2.25rem;
        position:absolute;
        bottom: 5rem;
    }
    .text_2{
        padding-left: 2.25rem;
        position: absolute;
        bottom: 3.5rem;
    }
    .text1, .text2{
        display: none;
    }
}

#about{
    h1{
        padding-top: 1rem;
    }
    .image{
        width:100%;
        margin:2rem 0;
    }
}



.text{
    align-items: center;
    justify-content: center;
    margin: auto;
    
}

.main_grid{
    display: grid;
    grid-template-columns: 4fr 6fr;
    }

#about, #quality{
    p{
        text-align: left;
        margin:0.5rem 2rem;
    }
}

#quality{
   h2, h3{
    margin: auto 2rem;
   }

   .image{
    width:100%;
    margin:2rem 0;
}

   .image {
    order: 1;
   }

   .text {
    order: -1;
    padding: 2rem 0;
   }

   .main_grid {
    grid-template-columns: 6fr 4fr;}

    .break {
        padding-bottom: 0;
    }
}
}
    


   
