

header{
    .header_image{
        display: flex;
        justify-content: center;
    }

    .logo_image{
        max-height: 3.5rem;
        padding-top: 0.5rem;
        padding-left:1rem;

       
    }
    
    
    
}

.cases_image{
  width: 100%;  
}
.break-line{
    background-color: #EDEBE4;
    height: 2rem;
}


#mads_n{}

#messy_w{}

#hay{}

#superdry{}

#ganni{}


