

header{
    .header_image{
        display: flex;
        justify-content: center;
    }

    .logo_image{
        max-height: 3.5rem;
        padding-top: 0.5rem;
        padding-left:1rem;

       
    }
    
    
    
}

.cases_image{
  width: 100%;  
  margin-bottom: 2rem;
}
.break-line{
    background-color: #EDEBE4;
    height: 2rem;
}


#mads_n{
    background-color: #222121;
}

#messy_w{}

#hay{}

#superdry{}

#ganni{}


.footer{
    a{
        text-decoration: none;
        color: black;
    }

}

