/*

1. repeated styling thats used for all pages
    1.1 font / tan-nimbus and open sans
    1.2 body, background color
    1.3 headline / h1
    1.4 text / p
2. header 
    2.1 header image /
    2.2 logo / .logo_image
3. footer 
    3.1 logo / .logo
    3.2 navigation / .footer_nav

4. Mobil/smaller screen styling
5. desktop styling
*/


@font-face{
    font-family:nimbus;
    src: url("TAN-NIMBUS.ttf");
}
@font-face{
    font-family:open sans;
    src: url("OpenSans-VariableFont_wdth\,wght.ttf");
}

*{
    margin:0;
    box-sizing: border-box;
}

/*standard styling for pages*/
body{
    background-color: #EDEBE4;
    text-align: left;
    
}

h1 {
    color:#FE4D49;
    font-size: 1.875rem;
    font-family: nimbus;
}

p{
    font-family: open sans;
    font-size: 0.875rem;
    text-wrap: break-word;
    margin-top:0.5rem;
    margin-bottom: 0.5rem;
}

header{
    margin-top:0.5rem;
    
    .header_content{
      display: flex;
      justify-content: space-between;
      align-items:start;
    }

    .header_logo{
      max-height: 3rem;
      padding-top: 0.5rem;
      padding-left:1rem;  
    }

    .nav_bar {
      font-family: open sans;
      overflow: hidden;
      }
      
    .nav_bar a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 1rem 1rem;
      text-decoration: underline;
      font-size: 1rem;
      text-underline-offset: 8px;
      text-decoration-thickness: 0.25rem;
    }
      
    .nav_bar a.active {
      color: #FE4D49;
    }
/*Vil gerne gøre så den er helt i siden uden den lægges under*/
    .nav_bar .right_top{
      margin-left: 4rem;
      padding-right:2rem
    }
  }


footer{
    padding-left: 2rem;
    padding-right:2rem;
    padding-bottom: 4rem;

    .logo{
      margin-top:2rem;
      margin-bottom:2rem;
      max-width: 7.5rem; 
    }
    .footer_nav{
      p{
        font-weight: 600;
      }
       
      li{
        margin-top:0.5rem;
       
      }
    }
       
    ul{
      list-style: none;
      padding: 0;
    }
    a{
      text-decoration: none;
      }
    a:visited{
      text-decoration: none;
    }
       
    
       
  
}


/*Mobile version - made on behalf of recommendation on smaller screens such as phones and smaller tablets*/
@media only screen and (max-width:650px){
  section{
    padding: 0 2rem;
  }
  footer{
    .social_media1{
      display: none;
    }
    .newsletter{
      display: none;
    }

    .column{
      display: none;
    }

  .contact_info{
    margin-top: 1rem;
    margin-bottom:1rem;
      p{
        font-weight: 600;
      }
      li{
        margin-top:0.5rem;
      }
      .email{
        margin-top: 1.5rem;
      }
    }

    .grid{
      display:grid;
      grid-template-columns: 5% 5% 5% 5% 80%;
      gap:2rem; 
      margin-top: 2rem;
      }
       
    .social_media2{
      max-height:2rem;
    }
  }
}

/*adding the dekstop-version and still having the hamburgermenu*/
@media only screen and (min-width:650px){
 
  .footer_nav{
    display: none;
  }
  .social_media2{
    display: none;
  }

  .contact_info{
    display: none;
  }

  .address2{
    display: none;
  }

  

  footer{

    .footer-container-desk {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
    }
    
    .column {
      max-width: 10rem;
      margin-bottom: 20px; 
      margin-right: 40px;
    }
    
    
    .column h3 {
      margin-bottom: 10px;
      margin-top: 15px;
      font-family: Open sans;
      font-weight: 600;
      font-size: 16px;
    
    }
    
    .column ul {
      list-style: none; 
      padding: 0;
      margin: 0; 
      font-family: Open sans;
      font-size: 16px;
      
    }
    
    .column ul li {
      margin-bottom: 8px;
    }
    
    .newsletter form {
    display: flex;
    flex-direction: column;}
  
    .newsletter {
      width: 40%;
      margin-top: 15px; 
      font-family: Open sans;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .newsletter button {
      width: 100px;
     background-color:#FE4D49;
     color: white; 
      padding: 5px; 
     border: none; 
      border-radius: 3px;
      cursor: pointer; 
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 10px;
    }
    .newsletter input[type=email] {
      width: 45%;
      padding: 8px; 
      border-bottom: 1px solid black; 
      border-top: none; 
      border-left: none;
      border-right: none;
      background-color: transparent;
    margin-bottom: 10px;
    margin-top: -50px;  
}
    input[type="email"]:focus {
outline: 2px solid black;}
  }
}
/*having the hamburgermenu but  having the layout of desktop version*/
@media only screen and (max-width: 800px){

  header{
    .nav_bar{
      display:none;
  }

  .hamburger1 {
      margin-top: -2rem;
      margin-right:2rem;
      margin-bottom:1rem;
      display: -ms-grid;
      display: grid;
      justify-items: right;
      z-index: 120;
    }
    
    .hamburger1 div {
      background-color: black;
      position: relative;
      width: 2.75rem;
      height: 0.25rem;
      margin-top: 0.5rem;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }
    
    /*check*/
    #toggle1 {
      display: none;
    }
    
    #toggle1:checked + .hamburger1 .top {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      margin-top: 22.5px;
    }
    
    #toggle1:checked + .hamburger1 .meat {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      margin-top: -5px;
    }
    
    #toggle1:checked + .hamburger1 .bottom {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    
    #toggle1:checked ~ .menu1 {
      height: 17rem;
    }
    
    
    /* Menu */
    .menu1 {
      width: 100%;
      margin: auto 0;
      display: -ms-grid;
      display: grid;
      grid-template-rows: repeat(5, 0.5fr);
      grid-row-gap: 0.25rem;
      padding: 0;
      list-style: none;
      clear: both;
      width: auto;
      text-align: center;
      height: 0px;
      overflow: hidden;
      transition: height .4s ease;
      z-index: 120;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    
    .link1 {
      width: 100%;
      margin: 0;
      padding: 0.5rem 0;
      font-size: 1.25rem;
      font-family: open sans;
      text-decoration: none;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;        
    }
    
    .link1:hover {
      background-color: rgba(254, 77, 73, 0.75);
      text-decoration: none;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }
  
 
}

/*Desktop version with its navigation in the top*/
@media only screen and (min-width: 800px){
    #hamburger_menu{
        display: none;
    }
  
}

